@import 'my_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import '../../assets/scss/video-js.css';
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}
body {
  /* default font-size set back to 16px */
  font-size: 2.0rem;
  margin: 0;
  font-family: 'Baloo Bhaina 2', Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: #000;
}

body h1 {
  font-size: 3.0rem;
  font-weight: 400;
  margin-bottom: 0;
}
body h2 {
  color: #FF9900;
  font-size: 2.7rem;
  font-weight: 400;
  margin-bottom: 15px;
}
body h3 {
  font-size: 3rem;
  font-weight: 400;
}
body p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 10px;
}
body a {
  font-size: 1.4rem;
}
body a:hover {
  text-decoration: none !important;
}

.no-scroll {
  overflow: hidden;
}
@media only screen and (max-width: 475px) {
  .no-scroll {
    position: fixed;
  }
}

.form-control {
  width: 100%;
  background: #fff 0% 0% no-repeat padding-box;
  border: 1pt solid #000;
  box-shadow: 0px 0px 0px #00000029;
  border-radius: 0px;
}
.modal-dialog {
  min-width: 60vw;
  padding: 50px auto;
  margin: 5vh auto;
}
.modal-content {
  border: none !important;
  border-radius: 0px !important;
  min-height: 200px;
  color: rgb(7, 0, 0);
  padding: 50px;
}
.modal-header {
  text-align: right;
  border: none !important;
  border-radius: 0px !important;
  color: #000;
}
.modal-footer {
  border: none !important;
}
.footer-text {
  font-size: 2rem;
  font-weight: 500;
}
.btn:focus {
  box-shadow: none !important;
}
.btn {
  width: 150px;
  white-space: 'nowrap';
}
.bg-black {
  background-color: #000;
}
.text-preview {
  font-size: 1.2rem;
  font-weight: 500;
}
.text-bold {
  font-size: 1.5rem;
  font-weight: 700;
}
.text-underline {
  text-decoration: underline;
}
.input-group-append .input-group-text {
  width: 40px;
  color: #000;
  background: #fff;
  border: 1pt solid #000;
}
.input-group-prepend .input-group-text {
  width: 80px;
  color: #000;
  background: #fff;
  font-size: 1.4rem;
  border: 1pt solid #000;
}
.text-small {
  font-size: 1.2rem;
  font-weight: 300;
}
.tooltip-inner {
  font-size: 1.4rem;
  font-weight: 300;
}
.cover-image {
  min-height: 300px;
  height: auto;
  width: '100%';
  background-repeat: 'no-repeat';
  background-position: 'center center';
  -webkit-background-size: 'contain';
  -moz-background-size: 'contain';
  -o-background-size: 'contain';
  background-size: 'contain';
  opacity: 1;
  text-align: center;
}
.dashed-line {
  border: 1pt dashed rgb(146, 146, 38);
}
.upload-preview {
  padding: 10px;
  height: auto;
  border: 0pt dashed rgb(146, 146, 38);
  background-color: #FCFCFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 9px #00000029;
  border-radius: 6px;
}
.hundred-vh {
  min-height: 100vh !important;
}

// Style for big titles in sections
.spaced-name {
  line-height: 0.6;
  white-space: nowrap;
  font-family: 'Bungee Hairline';
  text-transform: uppercase;
  user-select: none;
}
.center {
  margin: auto;
  width: 70%;
  border: 0px solid green;
  padding: 10px;
}
@media only screen and (max-width: 900px) {
  .center {
    width: 85%;
  }
}
.center-section {
  margin: auto;
  width: 90%;
  border: 0px solid green;
  padding: 50px 10px;
}
@media only screen and (max-width: 900px) {
  .center-section {
    width: 85%;
  }
}
.filter-black {
  filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
.text-description {
  font-size: 1.4rem;
  font-family: 'Baloo Bhaina 2';
}
.text-artist {
  font-size: 1.2rem;
  font-weight: 300;
}
.text-action {
  font-size: 1.4rem;
  font-weight: 500;
}
.text-artwork {
  font-size: 1.6rem;
  font-weight: 500;
}
.text-address {
  font-size: 1.2rem;
  font-weight: 300;
}
.text-splash {
  font-size: 1.2rem;
  font-weight: 300;
}
.text-translucent {
  opacity: 0.3;
}
.vjs-big-play-button {
  width: 50px !important;
  height: 50px !important;
  border-radius: 0 !important;
  background-color: #222 !important;
  opacity: 0.7;
}